<table class="table">
  <tbody>
    <% themes.each do |theme| %>
      <tr>
        <td>
          <%= link_to theme.title, theme_path(theme) %>
          <br/>
          <small class="text-muted float-left">
            <%= Theme.human_attribute_name :idea_count  %>
            <%= theme.ideas.count %>
          </small>
          <small class="text-muted float-right">
            <%= Theme.human_attribute_name :updated_at_short%>
            <%= l(theme.updated_at) %>
          </small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
