<%= render 'shared/notice' %>

<div class="row">
  <div class="col-12 my-4">

    <div class="card shadow-sm">
      <div class="card-body">
        <div class='row'>
        <div class='col-8'>
          <%= link_to "#{Theme.model_name.human} #{t('helpers.links.new')}", new_theme_path, class: "btn btn-primary mb-2" %>
          <%= link_to t(".regist_bookmarks"), category_bookmarks_path, class: "btn btn-primary mb-2" %>
        </div>

        <div class='col-4'>
          <%= link_to "#{t('helpers.index')}に戻る", themes_path, class: "btn btn-secondary float-right" %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <section class="col-md-4 col-12 mb-3">
    <div class="card border-0 shadow-sm">
      <div class="card-body">
        <h5 class='card-title'><strong><%= t(".owner_themes") %></strong></h5>
        <% if @owner_themes.present? %>
          <%= render "themes", themes: @owner_themes %>
          <small class="float-right">
            <%= link_to t("helpers.links.more_see"), dashboard_themes_path(type: "owner_themes") %>
          </small>
        <% else %>
          <%= t(".blank", name: t(".owner_themes"))%>
        <% end %>
      </div>
    </div>
  </section>

  <section class="col-md-4 col-12 mb-3">
    <div class="card border-0 shadow-sm">
      <div class="card-body">
        <h5 class='card-title'><strong><%= t(".joining_themes") %></strong></h5>
        <% if @joining_themes.present? %>
          <%= render "themes", themes: @joining_themes %>
          <small class="float-right">
            <%= link_to t("helpers.links.more_see"), dashboard_themes_path(type: "joining_themes") %>
          </small>
        <% else %>
          <%= t(".blank", name: t(".joining_themes"))%>
        <% end %>
      </div>
    </div>
  </section>

  <section class="col-md-4 col-12 mb-3">
    <div class="card border-0 shadow-sm">
      <div class="card-body">
        <h5 class='card-title'><strong><%= t(".bookmark_category_themes") %></strong></h5>
        <% if  @bookmark_category_themes.present? %>
          <%= render "themes", themes:  @bookmark_category_themes %>
          <small class="float-right">
            <%= link_to t("helpers.links.more_see"), dashboard_themes_path(type: "bookmark_category_themes") %>
          </small>
        <% else %>
          <%= t(".blank", name: t(".bookmark_category_themes"))%>
        <% end %>
      </div>
    </div>
  </section>
</div>
