<%= javascript_include_tag "theme/form" %>

<%= form_with(model: theme, local: true) do |form| %>
  <% if theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

      <ul>
      <% theme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= form.label :category %>

    <%= arranged_tree_as_list(@categories.arrange, {sort_by: [:name, :id]}) do |category| %>
      <% if category.children.present? %>
        <strong><%= category.name %></strong>
      <% else %>
        <label><%= form.radio_button :category_id, category.id %> <%= category.name %></label>
      <% end %>
    <% end %>

  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= text_field_tag('theme_tags', @theme_tags) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
