<%= javascript_include_tag "theme/form" %>

<%= form_with(model: theme, local: true) do |form| %>
  <% if theme.errors.any? %>
    <div class="alert alert-danger " role="alert">
      <ul class="mb-0">
        <% theme.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :category %>
    <%= arranged_tree_as_list(@categories.arrange, {
        sort_by: [:name, :id],
        ul_class_children: ["list-inline pt-1 pb-2"],
        li_class_children:["list-inline-item pl-2"]}) do |category| %>
      <% if category.children.present? %>
        <strong><%= category.name %></strong>
      <% else %>
        <label><%= form.radio_button :category_id, category.id %> <%= category.name %></label>
      <% end %>
      <br />
    <% end %>
  </div>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control form-control-sm" %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control form-control-sm", style: "height: 100px;" %>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= text_field_tag('theme_tags', @theme_tags, class:"form-control form-control-sm") %>
  </div>

  <div class="form-group col-12">
    <div class="form-group border p-2 row">
      <%= form.label :images_and_annotation %>
      <%= form.file_field :images, multiple: true, accept:"image/*", class: "form-control" %>

      <% form.object.images.includes(:blob).each do |image| %>
        <div class="col-2 m-2 p-2 border">
          <%= form.fields_for :images_attachments, image do |fields| %>
            <label><%= fields.check_box :_destroy %> <%= t("helpers.links.destroy") %></label>
          <% end %>
          <br/>
          <% if image.variable? %>
            <%= link_to rails_blob_path(image), rel: "lightbox", class: "d-inline-block m-1" do %>
              <%= image_tag image.variant(resize: "200x160"), class: "img-fluid" %>
            <% end %>
          <% else %>
            <%= image.filename %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
