<div class='themes-ideas-theme rounded'>
<div class="card border-0 shadow-sm mt-4">
  <div class="card-body">
    <div class='row'>
      <div class='col-2'>
        <%= image_tag 'default_avatar.png', width: 100, class: "m-x-auto img-fluid rounded-circle", alt: "avatar" %>
      </div>

      <div class='col-10'>
        <div class='px-2'>
          <p class=''>
            <strong><%= theme.owner.nick_name %></strong>
            <%= l theme.created_at %></p>
          <%= simple_format theme.description %>
        </div>
        <% if theme.images.present?%>
          <% theme.images.includes(:blob).each do |image| %>
            <% if image.variable? %>
              <%= link_to rails_blob_path(image), rel: "lightbox", class: "d-inline-block m-1" do %>
              <%= image_tag image.variant(resize: "150x150") %>
            <% end %>
          <% else %>
            <%= link_to image.filename, rails_blob_path(image, disposition: "attachment") %>
          <% end %>
        <% end %>
        <% end %>

        <div class='col-12'>
          <div class='float-right'>
            <% if user_signed_in? %>
            <%= link_to t('.register_idea'), new_theme_idea_path(@theme),
                  class: "btn btn-primary mt-3 ml-2 idea-add-new", remote: true %>
            <% else %>
            <%= link_to t('.register_idea'), new_user_session_path,
                  class: "btn btn-primary mt-3 ml-2" %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<div class='themes-ideas-idea-tree'>
  <%= nested_ideas theme.ideas.includes(:creator).arrange(order: :created_at) %>
</div>
