<div class="card-columns">
  <% themes.each do |theme| %>
    <div class="card border-0">
      <% if theme.images.present? && theme.images.first.variable? %>
        <% image = theme.images.first %>
        <%= link_to rails_blob_path(image), rel: "lightbox" do %>
          <%= image_tag image.variant(resize: "400x300"), class: "img-fluid" %>
        <% end %>
      <% end %>

      <div class="card-body">
        <h5 class='card-title'>
          <%= link_to theme.title, theme_path(theme) %>
        </h5>

        <h6 class='card-sub-title'>
          <%= Theme.human_attribute_name :category %>:
          <%= theme.category.name %>
        </h6>

        <p class="card-text"><%= theme.description %></p>

        <p class="card-text">
          <% theme.tags.pluck(:name).each do |tag_name| %>
            <span class="badge badge-primary"><%= tag_name %></span>
          <% end %>
        </p>

        <p class="card-text">
          <%= Theme.human_attribute_name :idea_count %>:
          <%= theme.ideas.count %>
        </p>
        <p class="card-text">
          <%= Theme.human_attribute_name :updated_at %>:
          <%= l(theme.updated_at, format: :short) %>
        </p>
      </div>
      <hr />

    </div>
  <% end %>
</div>
