<div class="card-columns">
  <% themes.each do |theme| %>
    <div class="card border-0 rounded shadow-sm">
      <% if theme.main_image.present? && theme.main_image.variable? %>
        <% image = theme.main_image %>
        <%= link_to theme_path(theme) do %>
          <%= image_tag image.variant(resize: "400x300"), class: "img-fluid" %>
        <% end %>
      <% else %>
        <%= link_to theme_path(theme), class: 'themes-index-theme-no-set-image' do %>
          <div class='rounded-top d-flex justify-content-center align-items-center w-100'
              style="background-color: <%= theme.category.color %>;">
            <h4 class='text-center text-white'><%= theme.category.name %></h4>
          </div>
        <% end %>
      <% end %>

      <div class="card-body">
        <h5 class='card-title'>
          <strong><%= theme.title %></strong>
        </h5>

        <h6 class='card-sub-title'>
          <% category = theme.category %>
          <strong><%= category.category_type.name.to_s.ljust(7, '　') %></strong>
          <%= category.name %>
        </h6>

        <h6 class='card-sub-title'>
            <strong><%= Theme.human_attribute_name(:idea_count).to_s.ljust(7, '　') %></strong>
            <%= theme.ideas.count %>
        </h6>

        <p class="card-text">
          <% theme.tags.pluck(:name).each do |tag_name| %>
            <span class="badge badge-primary"><%= link_to tag_name, themes_path(search_content: tag_name), class: 'text-white' %></span>
          <% end %>
        </p>

        <p class="card-text text-justify"><%= theme.description.to_s.truncate(70) %></p>

        <div>
          <%= link_to t('.detail'), theme_path(theme), class: 'btn btn-block btn-outline-primary'%>
        </div>
      </div>

    </div>
  <% end %>
</div>
