<div class='row'>
  <div class='col-12 pt-5 pb-5' style='background: <%= @theme.category.color %>;'>
    <div class='d-flex justify-content-center'>
      <h2 class='text-white'>
        <%= @theme.title %>
      </h2>
    </div>

    <div class='d-flex justify-content-center'>
      <p class="text-white pl-2"><%= Theme.human_attribute_name :category %>:
        <%= @theme.category.name %></p>

      <% if @theme.tags.present? %>
      <p class="text-white pl-2"><%= Theme.human_attribute_name :tags %>:
        <% @theme.tags.pluck(:name).each do |tag_name| %>
          <span class="badge badge-primary"><%= link_to tag_name, themes_path(search_content: tag_name), class: 'text-white' %></span>
        <% end %>
      </p>
      <% end %>
    </div>

    <div class='d-flex justify-content-center'>
      <% if @theme.owner?(current_user) %>
        <%= link_to t('.edit'), edit_theme_path(@theme), class: "text-white float-right" %>
      <% end %>
    </div>

    <div class='d-flex justify-content-center'>
      <di id='theme-watch'>
        <%= render 'themes/watch', theme: @theme %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/notice' %>

<div class='row'  style='overflow: auto;'>
  <div class='col-lg-10 col-12 m-auto'>
      <div class='theme-ideas'>
        <%= render 'ideas', theme: @theme %>
      </div>
      <div class='col-12'>
        <%= link_to t("helpers.links.back"), request_from_path(themes_path), class: "btn btn-secondary mt-5" %>
      </div>
  </div>
</div>

<div class="idea-form-wrapper fixed-bottom">
  <div class='row'>
    <div class='col-lg-6 col-md-8 col-12 m-auto'>
      <div class='col-12'>
         <div class='idea-form p-3'>
            <%= render "themes/ideas/form", idea: nil, theme: @theme, parent_idea_id: nil %>
         </div>
       </div>
    </div>
  </div>
</div>
