<%= javascript_include_tag "themes/ideas/form" %>
<div class="card">
  <div class="card-body">
    <% if @idea&.errors&.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul class="pb-0 mb-0">
          <% @idea.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <button type="button" class="close idea-add-close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <%= form_with model: idea || Idea.new, url: theme_ideas_path(theme_id: theme.id), remote: true do |f| %>
      <%= hidden_field_tag "parent_id", parent_idea_id %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class:"form-control col-7" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class:"form-control col-12" %>
      </div>
      <div class="actions">
        <%= f.submit class: 'btn btn-block btn-success' %>
      </div>
    <% end %>
  </div>
</div>
