<div class='row'>
  <div class='col-12'>
    <div class='sign-in'>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <section class="h-100">
        <div class="container h-100">
          <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
              <div class="card fat">
                <div class="card-body">
                  <h4 class="card-title"><%= t('devise.passwords.edit.change_your_password') %></h4>
                  <%= render "users/shared/flash_messages" %>
                  <%= devise_error_messages! %>

                  <div class="form-group">
                    <%= f.label :password, t("devise.passwords.edit.new_password") %>
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation, t("devise.passwords.edit.confirm_new_password") %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
                  </div>

                  <div class="form-group no-margin">
                    <%= f.submit t("devise.passwords.edit.change_my_password"), class: 'btn btn-primary btn-block' %>
                  </div>
                  <div class="margin-top20 text-right">
                    <%= render "users/shared/links" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% end %>
    </div>
  </div>
</div>
