<!DOCTYPE html>
<html>
  <head>
    <title>IdeaStorming</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container-fluid px-4 pb-4">
      <%= yield %>
    </div>
  </body>
</html>
