<div class='row'>
  <div class='col-12'>
    <div class='sign-up'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <section>
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="card-wrapper border-0 shadow-sm">
              <div class="card fat">
                <div class="card-body">
                  <h4 class="card-title"><%= t('devise.registrations.new.sign_up') %></h4>
                  <hr />
                  <%= render "users/shared/flash_messages" %>
                  <%= devise_error_messages! %>

                  <div class="form-group">
                    <%= f.label :nick_name %><br />
                    <%= f.text_field :nick_name, autofocus: true, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autocomplete: "email", class: 'form-control'  %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= "#{@minimum_password_length} #{t('devise.shared.minimum_password_length')}" %>)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
                  </div>

                  <div class="form-group no-margin">
                    <%= f.submit t("devise.registrations.new.sign_up"), class: 'btn btn-success btn-block' %>
                  </div>
                  <div class="margin-top20 text-right">
                    <%= render "users/shared/links" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% end %>
    </div>
  </div>
</div>
